html,body {
	height: auto;
	margin: 0;
	text-align: center;
	width: auto;
	background: rgb(46, 105, 163);
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, rgb(46, 105, 163), RoyalBlue);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgb(46, 105, 163), RoyalBlue);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgb(46, 105, 163), RoyalBlue);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgb(46, 105, 163), RoyalBlue);
	/* Standard syntax (must be last) */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


h1 {
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 75px;
	color: AntiqueWhite;
}

h2 {
	font-size: 56px;
	background-color: AntiqueWhite;
	color: rgb(46, 105, 163);
}

.hero {
	padding: 250px 0;
	background-image: url("http://wallpaper.zone/img/5398993.jpg");
	background-size: cover;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

p {
	background-color: AntiqueWhite;
	font-size: 2rem;
	color: rgb(46, 105, 163);
}


#footer {
	font-size: 1.0rem;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.topnav li {
	float: left;
}

ul.topnav li {
	border-right: 1px solid rgb(46, 105, 163);
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: #111;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right,
	ul.topnav li {
		float: none;
	}
}
